.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  font-size: calc(10px + 2vmin);
}

.key-alt {
  text-decoration: underline;
}

.key-ctrl {
  font-weight: bold;
}

.key-error {
  text-decoration: line-through;
  color: darkred;
}

#main-left-col {
  padding-right: 0;
}

#main-right-col {
  padding-left: 0;
}

p.main-table {
  margin-top: 0;
  margin-bottom: 0;
  font-size: xxx-large;
  font-family: monospace;
}

#main-header {
  height: 2em;
}

input.main-input {
  font-size: xxx-large;
  font-family: monospace;
  width: 100%;
}

div.borders {
  border: 1px solid;
}
